
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}
.sortable { list-style-type: none; margin: 0; padding: 0; }
.sortable li{ border-radius: 4px; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;}
.sortable li span{/* position: absolute; */margin-left: -1.3em; }
.sortable li:hover{cursor: pointer;}

#sortable-create { list-style-type: none; margin: 0; padding: 0; }
#sortable-create li { border-radius: 4px; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;}
#sortable-create li span {/* position: absolute; */margin-left: -1.3em; }
#sortable-create li:hover {cursor: pointer;}
.wishlists-item {
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    width: 140px;
    min-height: 140px;
    border: 2px solid #aaaaaa;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.wishes-list {
    position: absolute;
    top: 30px;
    /*left: 0;*/
    /*bottom: 0;*/
    height: 100%;
    width: 100%;
}
.wishes-list li {
    margin-left: 0;
    text-align: left;
    position: relative;
}

.wishes-list:hover {
    border-color: #2c3e50;
    cursor: pointer;
}

.wishlists-item .wishlist-title {
    text-indent: 3px;
    padding-top: 5px;
    position: relative;
    border-bottom: 2px solid #aaaaaa;
}

.visibility {
    position: absolute;
    /*padding-right: 5px;*/
    /*bottom: 3px;*/
    top: 117px;
    right: 4px;
    z-index: 3;
}

.wishlists-item .delete-wishlist {
    display: none;
}

.wishlists-item:hover .delete-wishlist {
    display: block;
}

.wishlists-item .delete-wishlist > i {
    position: absolute;
    font-size: 1.2em;
    right: 2px;
    top: 2px;
    cursor: pointer;
    z-index: 3;
}
